{% extends 'core/base.html' %}
{% block content %}
    <div class="max-w-6xl mx-auto flex items-start flex-wrap justify-between  py-6 px-6 xl:px-0">
        <div class="filters w-full lg:w-1/4">
            <h3 class="mb-3 text-xl uppsercase">Search</h3>
            <form method="GET" action="{% url 'shop' %}">
                <div class="flex">
                    <input name="q" class="p-4 bg-gray-100 border-0" placeholder="Search...">
                    <button class="p-4 bg-gray-100 border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                          </svg>
                    </button>
                </div>
            </form>

            <h3 class="mt-6 mb-3 text-xl uppsercase">Categories</h3>

            <ul class="space-y-2">
                <li><a href="{% url 'shop' %}" class="{% if not active_category and not q %} 
                        text-purple-500 {% else %} text-gray-500 {% endif %}">All categories</a></li>
                {% for category in categories %}
                    <li><a href="{% url 'shop' %}?category={{ category.slug}}" class="{% if category.slug == active_category %} 
                        text-purple-500 {% else %} text-gray-500 {% endif %}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="products w-full lg:w-3/4 flex -mt-4 items-center flex-wrap"> 
            {% for product in products %}
                {% include 'product/partials/product_list_item.html' %}
            {% endfor %}
        </div>

    </div>
{% endblock%}